<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <title>{{title}}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="description"
      content="We are gwalior goverment funded non-profitable organisation and we work for the welfare of the society by providing education to the children and we contribute to other social services like cleaning environment, planting trees, providing first-aid to animals and humans and many more social activities." />
   <meta name="keywords"
      content="ngogwalior,NGO Gwalior,NGO,Gwalior,ngo gwalior,being care foundation,care foundation" />
   <meta name="author" content="@its_shyam640" />

   {{!-- Adding meta tags for content fetching from url --}}
   <meta property="og:title" content="Being Care Foundation" />
   <meta property="og:image" content="../../public/images/logo_icon.png" />
   <meta property="og:url" content="https://beingcarefoundation.org" />
   <meta property="og:site_name" content="Being Care Foundation" />
   <meta property="og:description"
      content="We are gwalior goverment funded non-profitable organisation and we work for the welfare of the society by providing education to the children and we contribute to other social services like cleaning environment, planting trees, providing first-aid to animals and humans and many more social activities." />

   {{!-- Adding small icon to the tab --}}
   <link rel="shortcut icon" href="./images/logo_tab.png" />
   {{!-- animation css --}}
   <link rel="stylesheet" href="../../../libs/extra_libs/css/animate.css" />
   {{!-- Icomoon Icon Fonts --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/icomoon.css" />
   {{!-- Bootstrap --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/bootstrap.css" />
   {{!-- Superfish --}}
   <link rel="stylesheet" href="./libs/extra_libs/css/superfish.css" />
   {{!-- Main css --}}
   <link rel="stylesheet" href="./css/style.css" />
   <link rel="stylesheet" href="./css/dashboard.style.css" />

   {{!-- Adding link to bootstrap --}}


   {{!--
   <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.css" /> --}}

   {{!--
   <link rel="stylesheet" href="./libs/bootstrap/scss/" /> --}}

   {{!-- Modernizr Library --}}
   <script src="/libs/extra_libs/js/modernizr-2.6.2.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<style>
   .card-box {
      padding: 20px;
      border-radius: 3px;
      margin-bottom: 30px;
      background-color: #fff;
   }

   .social-links li a {
      border-radius: 50%;
      color: rgba(121, 121, 121, .8);
      display: inline-block;
      height: 30px;
      line-height: 27px;
      border: 2px solid rgba(121, 121, 121, .5);
      text-align: center;
      width: 30px
   }

   .social-links li a:hover {
      color: #797979;
      border: 2px solid #797979
   }

   .thumb-lg {
      height: 88px;
      width: 88px;
   }

   .text-pink {
      color: #ff679b !important;
   }

   .btn-rounded {
      border-radius: 2em;
   }

   .text-muted {
      color: #98a6ad !important;
   }

   h4 {
      line-height: 22px;
      font-size: 18px;
   }
</style>

<body>
   <div id="shy640-wrapper">
      <div id="shy640-page">
         {{!-- top small header --}}
         <div class="header-top">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-sm-6 text-left shy640-link">
                     <a href="/faq">FAQ</a>
                     <a href="#" onclick="commonMessage()">Forum</a>
                     <a href="#">Contact</a>
                  </div>
                  <div class="col-md-6 col-sm-6 text-right shy640-social">
                     <a href="#" class="grow"><i class="icon-facebook2"></i></a>
                     <a href="#" class="grow"><i class="icon-twitter2"></i></a>
                     <a href="#" class="grow"><i class="icon-instagram2"></i></a>
                     <a href="#" class="grow"><i class="icon-linkedin2"></i></a>
                  </div>
               </div>
            </div>
         </div>
         {{!-- start:header --}}
         <header id="shy640-header-section" class="sticky-banner" style="border-bottom: 1px solid rgb(201, 199, 199);">
            <div class="container">
               <div class="nav-header">
                  <a href="#" class="js-shy640-nav-toggle shy640-nav-toggle dark"><i></i></a>
                  <a href="/"><img src="./images/logo_icon.png" alt="Being Care Foundation Logo!"
                        style="filter: drop-shadow(6px 6px 4px rgb(63, 63, 63))" /></a>
                  <nav id="shy640-menu-wrap" role="navigation">
                     <ul class="sf-menu" id="shy640-primary-menu">
                        <li id="home">
                           <a href="/">Home</a>
                        </li>
                        <li id="">
                           <a href="#" class="shy640-sub-ddown">Projects</a>
                           <ul class="shy640-sub-menu">
                              <li id="#"><a href="#">Animal Care</a></li>
                              <li id=""><a href="#">Free FirstAid Program</a></li>
                              <li id=""><a href="#">Water Care</a></li>
                           </ul>
                        </li>
                        <li id="about"><a href="/about">About</a></li>
                        <li id="blog"><a href="/blog">Blog</a></li>
                        <li id="contact"><a href="/contact">Contact</a></li>
                        {{#if isAuthenticated}}
                        <li id="user-button" class="btn btn-default btn-rounded my-3">
                           <a href="#" class="shy640-sub-ddown">{{username}}</a>
                           <ul class="shy640-sub-menu">
                              <li id="dashboard"><a href="/dashboard">Dashboard</a></li>
                              <li id="dashboard"><a href="/logout">Logout<i class="icon-signout"></i></a></li>
                           </ul>
                        </li>
                        {{else}}
                        <li id="join-button" class="btn btn-default btn-rounded my-3">
                           <a href="#" class="shy640-sub-ddown">Join</a>
                           <ul class="shy640-sub-menu">
                              <li id="register-button"><a href="/register">Register</a></li>
                              <li id="login-button"><a href="/login">Login</a></li>
                           </ul>
                        </li>
                        {{/if}}
                        <li>{{>darkmode}}</li>
                     </ul>
                  </nav>
               </div>
            </div>
         </header>
         {{!-- end:header --}}
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
         <div class="container bootstrap snippets bootdey">
            <div class="row">
               <div class="profile-nav col-md-3">
                  <div class="panel">
                     <div class="user-heading round">
                        <a href="#">
                           <div href="/image/upload/me" class="hvrbox">
                              <img src="./images/user.png" alt="Profile Image" class="hvrbox-layer_bottom">
                              <div class="hvrbox-layer_top">
                                 <div class="hvrbox-text">upload/update image...</div>
                              </div>
                           </div>
                        </a>
                        <h1>{{username}}</h1>
                        <p>{{user_email}}</p>
                     </div>

                     <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"> <i class="fa fa-calendar"></i> Messages <span
                                 class="label label-primary pull-right r-activity">0</span></a></li>
                        <li><a href="/user/logoutAll"> <i class="icon-log-out"></i> Logout All Devices <span
                                 class="label label-danger pull-right r-activity">{{tokensize}}</span></a></li>
                        <li><a href="https://rzp.io/l/MrSqoAd"> <i class="icon-coin-dollar"></i> Donate Now</a></li>
                     </ul>
                  </div>
               </div>
               <div class="profile-info col-md-9">
                  <div class="panel">
                     <form>
                        <textarea placeholder="Whats in your mind today?" rows="2"
                           class="form-control input-lg p-text-area"></textarea>
                     </form>
                     <footer class="panel-footer">
                        <button class="btn btn-primary pull-right">Post</button>
                        <ul class="nav nav-pills">
                           <li>
                              <a href="#"><i class="fa fa-map-marker"></i></a>
                           </li>
                           <li>
                              <a href="#"><i class="fa fa-camera"></i></a>
                           </li>
                           <li>
                              <a href="#"><i class=" fa fa-film"></i></a>
                           </li>
                           <li>
                              <a href="#"><i class="fa fa-microphone"></i></a>
                           </li>
                        </ul>
                     </footer>
                  </div>
                  <div class="panel">
                     <div class="bio-graph-heading">
                        <i>"We Being Care Foundation work for the betterment of society in every possible way"</i>
                     </div>
                     <div class="panel-body bio-graph-info">
                        <h1>Details</h1>
                        {{!-- <div class="row">
                           <div class="bio-row">
                              <p><span>Full Name </span>: {{full_name}}</p>
                           </div>
                           <div class="bio-row">
                              <p><span>Username </span>: {{username}}</p>
                           </div>
                           <div class="bio-row">
                              <p><span>Email </span>: {{email}}</p>
                           </div>
                           <div class="bio-row">
                              <p><span>Phone</span>: {{phone}}</p>
                           </div>
                           <div class="bio-row">
                              <p><span>Password </span>: {{password}}</p>
                           </div>
                        </div> --}}
                        <form class="is-readonly" method="PATCH" action="/user/save">
                           <div class="form-group">
                              <label for="Full Name">Full Name</label>
                              <input type="text" class="form-control is-disabled" id="full-name" placeholder="Name"
                                 value="{{full_name}}" disabled>
                           </div>
                           <div class="form-group">
                              <label for="Username">Username</label>
                              <input type="text" class="form-control is-disabled" id="username" placeholder="Username"
                                 value="{{username}}" disabled>
                           </div>
                           <div class="form-group">
                              <label for="Email">Email address</label>
                              <input type="email" class="form-control is-disabled" id="email"
                                 placeholder="example@gmail.com" value="{{email}}" disabled>
                           </div>
                           <div class="form-group">
                              <label for="Phone">Phone Number</label>
                              <input type="tel" class="form-control is-disabled" id="phone" placeholder="+919473792730"
                                 value="{{phone}}" disabled required>
                           </div>
                           <div class="form-group">
                              <label for="Password">Password</label>
                              <input type="password" class="form-control is-disabled" id="password"
                                 placeholder="Min 8 Character" value="{{password}}" disabled required>
                           </div>
                           <button type="button" class="btn btn-default btn-edit js-edit">Edit</button>
                           <button type="submit" class="btn btn-default btn-save js-save">Save</button>
                        </form>
                     </div>
                  </div>

                  <div class="panel">
                     <div class="panel-body fetch-payments">
                        <label for="Payment Id">Payment Id</label>
                        <input class="form-control is-disabled" type="password" id="inputId">
                        <input type="checkbox" onclick="Toggle()">
                        <b>ShowId</b><br><br>
                        <button type="button" class="btn btn-primary btn-edit js-edit">Fetch Donations</button>
                     </div>
                  </div>

                  <div class="content">
                     <div class="container">
                        <!-- end row -->
                        <div class="row">
                           <div class="col-lg-4">
                              <div class="card-box">
                                 <div class="member-card pt-2 pb-2">
                                    <div class="">
                                       <p>{{full_name}}</p>
                                       <p class="text-muted">@{{username}}</p>
                                       <p class="text-muted">{{email}}</p>
                                    </div>
                                    <ul class="social-links list-inline"> Share on :
                                       <li class="list-inline-item"><a title="" data-placement="top"
                                             data-toggle="tooltip" class="tooltips" href=""
                                             data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                       <li class="list-inline-item"><a title="" data-placement="top"
                                             data-toggle="tooltip" class="tooltips" href=""
                                             data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                       <li class="list-inline-item"><a title="" data-placement="top"
                                             data-toggle="tooltip" class="tooltips" href=""
                                             data-original-title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                                    </ul>
                                    <button type="button"
                                       class="btn btn-primary mt-3 mb-3 btn-rounded waves-effect w-md waves-light">Download Invoice</button>
                                    <div class="mt-4">
                                       <p class="mb-0 text-muted">Total Donation : INR 235</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- end col -->
                        </div>
                        <!-- container -->
                     </div>
                  </div>
               </div>
            </div>
            {{>footer}}
         </div>
      </div>

      {{!-- jQuery --}}
      <script src="./libs/extra_libs/js/jquery.min.js"></script>
      {{!-- jQuery Easing --}}
      <script src="./libs/extra_libs/js/jquery.easing.1.3.js"></script>
      {{!-- Bootstrap --}}
      <script src="./libs/extra_libs/js/bootstrap.min.js"></script>
      {{!-- Waypoints --}}
      <script src="./libs/extra_libs/js/jquery.waypoints.min.js"></script>
      {{!-- Sticky --}}
      <script src="./libs/extra_libs/js/sticky.js"></script>
      {{!-- Stellar --}}
      <script src="./libs/extra_libs/js/jquery.stellar.min.js"></script>
      {{!-- Placeholder --}}
      <script src="./libs/extra_libs/js/placeholders.min.js"></script>

      <script src="./libs/extra_libs/js/hoverIntent.js"></script>
      {{!-- Superfish --}}
      <script src="./libs/extra_libs/js/superfish.js"></script>
      <!-- Main JS -->
      <script src="./js/main.js"></script>
      <script src="./js/login.js"></script>
      <script src="./js/dashboard.js"></script>

</body>

<script>
   function Toggle() {
      var temp = document.getElementById("inputId");
      if (temp.type === "password") {
         temp.type = "text";
      }
      else {
         temp.type = "password";
      }
   }
</script>


</html>